<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header(siteSchema)"
        th:with="index=${pageType.getType()}"
        id="header" class="header">
    <div class="header-inner">
        <div class="site-brand-wrapper">
            <div class="site-meta custom-logo">
                <div class="custom-logo-site-title">
                    <a th:href="@{${siteSchema.getSidebarLinks().getIndexUrl()}}"
                       class="brand" rel="start">
                        <span class="logo-line-before"><i></i></span>
                        <span class="site-title" th:text="${siteSchema.getSiteTitle()}">GroupBlog</span>
                        <span class="logo-line-after"><i></i></span>
                    </a>
                </div>
                <p class="site-subtitle" th:text="${siteSchema.getSiteSubTitle()}"></p>
            </div>

            <div class="site-nav-toggle">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>
        </div>
        <nav class="site-nav">
            <ul id="menu" class="menu">
                <li class="menu-item menu-item-home">
                    <a th:href="@{${siteSchema.getSidebarLinks().getIndexUrl()}}" rel="section">
                        <i class="menu-item-icon fa fa-fw fa-home"></i> <br/>
                        首页
                    </a>
                </li>

                <li class="menu-item menu-item-about">
                    <a th:href="@{${siteSchema.getSidebarLinks().getAboutUrl()}}" rel="section">
                        <i class="menu-item-icon fa fa-fw fa-user"></i> <br/>
                        关于
                    </a>
                </li>

                <li class="menu-item menu-item-tags">
                    <a th:href="@{${siteSchema.getSidebarLinks().getTagUrl()}}"
                       rel="section">
                        <i class="menu-item-icon fa fa-fw fa-tags"></i> <br/>
                        标签
                    </a>
                </li>
                <li class="menu-item menu-item-categories">
                    <a th:href="@{${siteSchema.getSidebarLinks().getCategoryUrl()}}"
                       rel="section">
                        <i class="menu-item-icon fa fa-fw fa-th"></i> <br/>
                        分类
                    </a>
                </li>

                <li class="menu-item menu-item-archives">
                    <a th:href="@{${siteSchema.getSidebarLinks().getArchiveUrl()}}"
                       rel="section">
                        <i class="menu-item-icon fa fa-fw fa-archive"></i> <br/>
                        归档
                    </a>
                </li>
            </ul>
            <form class="custom-search menu" th:action="@{/search}">
                <label>
                    <input type="text" name="keyword" placeholder="Search here...">
                </label>
                <button type="submit"><i class="menu-item-icon fa fa-search fa-fw"></i></button>
            </form>
        </nav>
    </div>
    <script th:inline="javascript">
        $("ul#menu.menu li:eq(" + [[${index}]] + ")").addClass("menu-item-active");
    </script>
</header>

</body>
</html>