<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="sidebar-toggle" th:fragment="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
        <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
</div>

<aside id="sidebar" class="sidebar" th:fragment="sidebar">
    <div class="sidebar-inner">
        <section class="site-overview-wrap sidebar-panel sidebar-panel-active">
            <div class="site-overview">
                <div class="site-author motion-element" itemprop="author" itemscope
                     itemtype="http://schema.org/Person">
                    <img class="site-author-image" itemprop="image"
                         src="/images/logo.png"
                         alt="XiyouLinuxGroup"/>
                    <p class="site-author-name" itemprop="name" th:text="${siteSchema.getAuthorSchema().getAuthor()}">XiyouLinuxGroup</p>
                    <p class="site-description motion-element" itemprop="description"
                       th:if="${siteSchema.isInAuthor()}"
                       th:text="${siteSchema.getAuthorSchema().getSignature()}">
                    </p>
                    <p class="site-description motion-element" itemprop="description"
                       th:unless="${siteSchema.isInAuthor()}"
                       th:utext="${siteSchema.getAuthorSchema().getSignature()}">
                    </p>
                </div>

                <nav class="site-state motion-element">
                    <div class="site-state-item site-state-posts" th:if="${siteSchema.getNumStatics().getBlogNum() != 0}">
                        <a th:href="@{${siteSchema.getSidebarLinks().getArchiveUrl()}}">
                            <span class="site-state-item-count" th:text="${siteSchema.getNumStatics().getBlogNum()}"></span>
                            <span class="site-state-item-name">博客</span>
                        </a>
                    </div>
                    <div class="site-state-item site-state-categories" th:if="${siteSchema.getNumStatics().getCategoryNum() != 0}">
                        <a th:href="@{${siteSchema.getSidebarLinks().getCategoryUrl()}}">
                            <span class="site-state-item-count" th:text="${siteSchema.getNumStatics().getCategoryNum()}"></span>
                            <span class="site-state-item-name">分类</span>
                        </a>
                    </div>
                    <div class="site-state-item site-state-tags" th:if="${siteSchema.getNumStatics().getTagNum() != 0}">
                        <a th:href="@{${siteSchema.getSidebarLinks().getTagUrl()}}">
                            <span class="site-state-item-count" th:text="${siteSchema.getNumStatics().getTagNum()}"></span>
                            <span class="site-state-item-name">标签</span>
                        </a>
                    </div>
                </nav>

                <div class="links-of-author motion-element">
                    <span class="links-of-author-item"
                          th:each="friendLink, item: ${siteSchema.getFriendLinks()}">
                        <a th:href="@{${friendLink.getLink()}}" target="_blank" th:title="${friendLink.getDesc()}">
                            <i th:class="${friendLink.getIconClass()}"></i>
                            [[${friendLink.getDesc()}]]
                        </a>
                    </span>
                </div>
            </div>
        </section>


    </div>
</aside>

</body>
</html>