<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--
    数据定义：
    - siteSchema: 站点数据/用户数据
    - pagination: 分页数据
    - pageType: 页面类型
    - blogDataList: overview 页面（List）
    - blogData: post 页面

    ----------
    需要数据
    - 页面类型: pageType
      - overview(index, 指定用户、标签、分类): 1
        - 分页
        - 几篇博客的摘要信息
      - post: 2
        - 指定的博客信息
        - 前一篇、后一篇
      - tag: 3
        - 词云（获取所有的tag，设置随机属性）
      - about: 4
        - 写好的关于信息
      - category: 5
        - 手风琴样式
      - archive: 6
        - 时间轴
    - 分页数据
    - 内容数据
-->
<div class="content-wrap" th:fragment="content">
    <div id="content" class="content" th:with="type=${pageType.getType()}">
        <!-- 博客概要 -->
        <div id="posts" class="posts-expand">
            <div th:remove="tag"
                 th:switch="${type}">

                <!-- overview: 博客列表数据 -->
                <div th:case="1" th:remove="tag">
                    <article class="post post-type-normal"
                             th:each="blogData, itemCount:${blogDataList}">
                        <div class="post-block" style="opacity: 1; display: block;">
                            <!-- 博客数据头 -->
                            <header th:replace="this::post-header(true)"></header>
                            <!-- 博客概要 -->
                            <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                                [[${blogData.getSummary()}]]
                                <!-- 阅读全文按钮 -->
                                <div class="post-button text-center">
                                    <a class="btn" th:href="@{${blogData.getBlogLink()}}">阅读全文 »</a>
                                </div>
                            </div>
                            <!-- 博客间分割线 -->
                            <footer class="post-footer">
                                <div class="post-eof"></div>
                            </footer>
                        </div>
                    </article>
                    <article class="post post-type-normal"
                             th:if="${blogDataList.size() == 0}">
                        <div class="post-block" style="opacity: 1; display: block;">
                            <h1 style="text-align: center">什么都没有 (ﾟ´Д｀ﾟ)ﾟ</h1>
                        </div>
                    </article>
                </div>

                <!-- post: 博客数据 -->
                <div th:case="2" th:remove="tag">
                    <!-- 博客内容 -->
                    <article class="post post-type-normal">
                        <div class="post-block" style="opacity: 1; display: block;">
                            <header th:replace="this::post-header(false)"></header>
                            <!-- 博客内容 -->
                            <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                                [(${blogData.getContent()})]
                            </div>
                            <footer class="post-footer">
                                <!-- TODO 标签 -->
<!--                                <div class="post-tags">-->
<!--                                    <a href="/tags/Note/" rel="tag"># Note</a>-->
<!--                                    <a href="/tags/SpringBoot/" rel="tag"># SpringBoot</a>-->
<!--                                </div>-->
                                <!-- 相关文章 -->
                                <div class="post-nav" th:if="${nearbyBlogs != null}">
                                    <!-- 前一篇 -->
                                    <div class="post-nav-next post-nav-item" th:if="${nearbyBlogs.get(0) != null}">
                                        <a th:href="@{'./' + ${nearbyBlogs.get(0).getBlogId()}}" rel="next" title="上一篇">
                                            <i class="fa fa-chevron-left"></i> [[${nearbyBlogs.get(0).getTitle()}]]
                                        </a>
                                    </div>
                                    <!-- 中间分割块 -->
                                    <span class="post-nav-divider"></span>
                                    <!-- 后一篇 -->
                                    <div class="post-nav-prev post-nav-item" th:if="${nearbyBlogs.get(1) != null}">
                                        <a th:href="@{'./' + ${nearbyBlogs.get(1).getBlogId()}}" rel="prev" title="下一篇">
                                            [[${nearbyBlogs.get(1).getTitle()}]]
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </article>
                    <!-- post页底部白条 -->
                    <div class="post-spread"></div>
                </div>

            </div>

        </div>

        <!-- 分页 -->
        <div th:if="${type == 1 and blogDataList.size() != 0}" th:remove="tag">
            <nav th:replace="/common/pagination::pagniation"></nav>
        </div>

    </div>
</div>

<!-- 博客数据头 -->
<header class="post-header" th:fragment="post-header(list)"
        style="opacity: 1; display: block; transform: translateY(0px);">
    <!-- 标题 -->
    <h1 class="post-title" th:title="${list ? '' : '查看原文'}" >
        <a class="post-title-link"
           th:target="${list ? '_self' : '_blank'}"
           th:href="@{${list ? blogData.getBlogLink() : blogData.getOriginalLink()}}">
           [[${blogData.getTitle()}]]
        </a>
    </h1>
    <!-- 分类等博客元数据 -->
    <div class="post-meta">
        <span class="post-flag">
            <span th:class="${blogData.isOriginal() ? 'layui-badge-rim' : 'layui-badge layui-bg-gray'}">
                [[${blogData.getFlagDesc()}]]
            </span>
        </span>
        <span class="post-author">
            <span class="post-meta-item-icon">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </span>
            <span class="post-meta-item-text">作者</span>
            <span>
                <a th:href="@{${blogData.getUserLink()}}">[[${blogData.getUsername()}]]</a>
            </span>
        </span>
        <span class="post-time">
            <span class="post-meta-divider">|</span>
            <span class="post-meta-item-icon">
                <i class="fa fa-calendar-o"></i>
            </span>
            <span class="post-meta-item-text">发表于</span>
            <time>[[${#dates.format(blogData.getPubTime(), 'yyyy-MM-dd HH:mm')}]]</time>
        </span>
        <span class="post-category">
            <span class="post-meta-divider">|</span>
            <span class="post-meta-item-icon">
                <i class="fa fa-folder-o"></i>
            </span>
            <span class="post-meta-item-text">分类于</span>
            <span>
                <a th:href="@{${blogData.getCategoryLink()}}">
                    <span>[[${blogData.getCategory()}]]</span>
                </a>
            </span>
        </span>
    </div>
</header>

</body>
</html>