<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- 删除主标签 -->
    <div th:fragment="script" th:remove="tag">
        <script type="text/javascript">
            if (Object.prototype.toString.call(window.Promise) !== '[object Function]') {
                window.Promise = null;
            }
        </script>
        <script type="text/javascript" th:src="@{/lib/jquery/index.js}"></script>
        <script type="text/javascript" th:src="@{/lib/fastclick/lib/fastclick.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/jquery_lazyload/jquery.lazyload.js}"></script>
        <script type="text/javascript" th:src="@{/lib/velocity/velocity.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/velocity/velocity.ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/fancybox/source/jquery.fancybox.pack.js}"></script>
        <script type="text/javascript" th:src="@{/lib/three/three.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/three/three-waves.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/src/utils.js}"></script>
        <script type="text/javascript" th:src="@{/js/src/motion.js}"></script>
        <script type="text/javascript" th:src="@{/js/src/affix.js}"></script>
        <script type="text/javascript" th:src="@{/js/src/schemes/pisces.js}"></script>
        <script type="text/javascript" th:src="@{/js/src/bootstrap.js}"></script>
    </div>

</body>
</html>