<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xcphoenix.groupblog.mybatis.mapper.UserMapper">
	
	<resultMap id="userItem" type="top.xcphoenix.groupblog.model.vo.UserItem">
		<collection property="user" column="uid"
		            select="getUserDesc" />
	</resultMap>
    <insert id="createNewUser" parameterType="top.xcphoenix.groupblog.model.dao.User">
		INSERT INTO `user`(username, password, blog_type, blog_arg, last_pub_time, category_id, authority)
		VALUES (#{user.username},123456, #{user.blogType}, #{user.blogArg},#{user.lastPubTime},#{user.categoryId},1);
	</insert>

    <select id="getUserBlogArgs" resultType="top.xcphoenix.groupblog.model.dao.User">
		SELECT uid, blog_type, blog_arg
		FROM `user`
		WHERE uid = #{uid}
	</select>
	
	<update id="resetPubTime">
		UPDATE `user`
		SET last_pub_time = #{resetTime}
		WHERE uid = #{uid}
	</update>
	
	<update id="updateLastPubTime">
		UPDATE `user`
		SET last_pub_time = #{lastPubTime}
		WHERE uid = #{uid}
		  AND `last_pub_time` &lt; #{lastPubTime}
	</update>
	
	<select id="getLastPubTime" resultType="java.sql.Timestamp">
		SELECT last_pub_time
		FROM `user`
		WHERE uid = #{uid}
	</select>
	
	<select id="getUsersSummary" resultType="top.xcphoenix.groupblog.model.dto.UserSummary">
		SELECT `uid`, `bean_name`
		FROM `user`,
		     `blog_type`
		WHERE `user`.`blog_type` = `blog_type`.`type_id`
	</select>

	<select id="getUserSummaryByUid" resultType="top.xcphoenix.groupblog.model.dto.UserSummary">
		SELECT `uid`, `bean_name`
		FROM `user`,
			 `blog_type`
		WHERE `user`.`blog_type` = `blog_type`.`type_id` and
		      `user`.uid = #{uid};
	</select>

	<select id="getUserDesc" resultType="top.xcphoenix.groupblog.model.dao.User">
		SELECT uid, username, qq, signature,avatar_url,authority
		FROM `user`
		WHERE uid = #{uid}
	</select>
	
	<select id="getUserQQ" resultType="java.lang.String">
		SELECT qq
		FROM `user`
		WHERE uid = #{uid}
	</select>
	
	<select id="getUserItem" resultMap="userItem">
		SELECT uid
		FROM user
		WHERE category_id = #{categoryId}
	</select>
	
	<update id="updateUserDesc">
		UPDATE `user`
		<set>
			<if test="user.qq != null and user.qq != ''">
				`qq` = #{user.qq},
			</if>
			<if test="user.signature != null and user.signature != ''">
				`signature` = #{user.signature},
			</if>
		</set>
		WHERE `uid` = #{user.uid}
	</update>
	
	<update id="updateUserBlogParams">
		UPDATE `user`
		SET `blog_type` = #{blogType},
		    `blog_arg`  = #{blogParams}
		WHERE `uid` = #{uid}
	</update>
	
	<select id="checkPasswd" resultType="integer">
		SELECT COUNT(*)
		FROM `user`
		WHERE uid = #{uid}
		  AND `password` = #{passwd}
	</select>

	<update id="updatePasswd">
		UPDATE `user`
		SET `password` = #{newPasswd}
		WHERE `uid` = #{uid}
	</update>

    <select id="getUsersInfo" resultType="top.xcphoenix.groupblog.model.dao.User">
		SELECT `uid`,`username`,`signature`,`blog_type`,`blog_arg`,`last_pub_time`
		From `user`
		WHERE `category_id` = #{cid}
	</select>

	<update id="updateUserAvatar">
		UPDATE `user`
		SET `avatar_url` = #{avatar_url}
		WHERE `uid` = #{uid}
	</update>

	<select id="checkUser" resultType="top.xcphoenix.groupblog.model.dao.User">
		SELECT uid,password,authority
		FROM `user`
		WHERE uid = #{uid}
	</select>

    <select id="selectUserAvatar" resultType="java.lang.String">
		SELECT avatar_url
		FROM `user`
		WHERE uid = #{uid}
    </select>

</mapper>