<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xcphoenix.groupblog.mapper.CategoryMapper">
	
	<select id="getCategory" resultType="top.xcphoenix.groupblog.model.dao.Category">
		SELECT category_id, name
		FROM category
		WHERE category_id = #{categoryId}
	</select>

</mapper>
