<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xcphoenix.groupblog.mapper.UserMapper">
	
	<select id="getUserBlogArgs" resultType="top.xcphoenix.groupblog.model.dao.User">
		SELECT uid, blog_type, blog_arg FROM user WHERE uid = #{uid}
	</select>
	
	<update id="updateLastPubTime">
		UPDATE user SET last_pub_time = #{lastPubTime}
		WHERE uid = #{uid}
	</update>
	
	<select id="getLastPubTime" resultType="java.sql.Timestamp">
		SELECT last_pub_time
		FROM user
		WHERE uid = #{uid}
	</select>

	<select id="getUsersSummary" resultType="top.xcphoenix.groupblog.model.dto.UserSummary">
		SELECT `uid`, `bean_name`
		FROM `user`, `blog_type`
		WHERE `user`.`blog_type` = `blog_type`.`type_id`
	</select>
	
</mapper>