<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false" scanPeriod="1 seconds">
	
	<contextName>logback</contextName>
	<!--定义参数,后面可以通过${app.name}使用-->
	<property name="app.name" value="groupBlog"/>
	
	<!--ConsoleAppender 用于在屏幕上输出日志-->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!--定义了一个过滤器,在LEVEL之下的日志输出不会被打印出来-->
		<!--这里定义了DEBUG，也就是控制台不会输出比ERROR级别小的日志-->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<!--定义控制台输出格式-->
		<encoder>
			<pattern>%gray(%date{yy-MM-dd HH:mm:ss.SSS, Asia/Shanghai}) %highlight(%-4level) :: [%t] %cyan(%logger{10})@%white(%line) %gray(~) %white(%m%n)</pattern>
		</encoder>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/${app.name}.log</file>
		
		<!--定义日志滚动的策略-->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--定义文件滚动时的文件名的格式-->
			<fileNamePattern>
				./logs/${app.name}.%d{yyyy-MM-dd, Asia/Shanghai}.%i.log.gz
			</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<!--60天的时间周期，日志量最大20GB-->
			<maxHistory>60</maxHistory>
			<!-- 该属性在 1.1.6版本后 才开始支持-->
			<totalSizeCap>200MB</totalSizeCap>
		</rollingPolicy>
		
		<!--定义输出格式-->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,Asia/Shanghai} %-4level :: [%t] %logger{10}@%line ~ %n%m%n</pattern>
		</encoder>
		
	</appender>
	
	<!--root是默认的logger 这里设定输出级别是debug-->
	<root level="trace">
		<!--定义了两个appender，日志会通过往这两个appender里面写-->
		<appender-ref ref="stdout"/>
		<appender-ref ref="file"/>
	</root>
	
</configuration>